

.develo-eco__line {
   margin-left: -1px;
margin-top: 195px;
z-index: 0;

   @media screen and (min-width: 360px) {
   margin-top: 130px;
   }
   @media screen and (min-width: 1200px) {
   margin-top: 100px;
   
   }
}

//   < !-- home -->

.develo-eco___decor1 {
   margin-left: -35px;
   // width: 215px;
border-radius: 5px;
   border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
transition: border $animation;

.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}

@media screen and (min-width: 1200px) {
   margin-left: 0px;
   width: 435px;

   
}}

.develo-eco___decor2 {
   margin-left: -35px;
margin-top: -620px;
height: 620px; 
width: 1px;
// margin-left: 40px;
// margin-left: 5px;
border-radius: 5px;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
transition: border $animation;
   border: 1px solid $line-color;
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
margin-top: -568px;
   height: 568px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
@media screen and (min-width: 1200px) {
   // margin-top: -402px;
   height: 402px;
   // margin-left: 435px;
   margin: -402px 0 0 435px;
}
}

.develo-eco___decor3 {
   margin-left: -35px;
   margin-top: -620px;
   width: 35px;
      // @media screen and (min-width: 360px) {
         border-radius: 5px;
            border: 1px solid $line-color;
            transition: border $animation;
            box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
            box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
            .develo-eco__content:hover &,
            .develo-eco__content:focus & {
            border: 1px solid $primary-text-color;
            }   
@media screen and (min-width: 360px) {
   margin-top: -568px;
}
@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
@media screen and (min-width: 1200px) {
      
      // margin-top: -402px;
      width: 205px;
      // margin-left: 435px;
         margin: -402px 0 0 435px;
   }

}


// < !-- man-laptop -->

.develo-eco___decor4 {
   transition: border $animation;
margin-left: -30px;
  border-radius: 5px; 
   border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 1px solid $primary-text-color;
      }

      @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
      @media screen and (min-width: 1200px) {
   margin-left: 0px;
   width: 445px;

}}

.develo-eco___decor5 {
   transition: border $animation;
margin-left: -30px;
border-radius: 5px;
   margin-top: -1122px;
   height: 1122px;
   width: 1px;
   border: 1px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 1px solid $primary-text-color;
}
@media screen and (min-width: 360px) {
   margin-top: -1006px;
   height: 1006px;
}
@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -811px;
   margin-left: 445px;
   height: 811px;
   
}}

.develo-eco___decor6 {
   transition: border $animation;
   margin-left: -30px;
border-radius: 5px;
   margin-top: -1122px;
   width: 30px;
   border: 1px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
margin-top: -1006px;

}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -811px;
   width: 195px;
   
   margin-left: 445px;

}}

// < !-- oil -->

.develo-eco___decor7 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -25px;
   margin-top: -10px;
   // width: 220px;
   border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-left: -105px;
   width: 595px;
}}

.develo-eco___decor8 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -25px;
   width: 1px;
   height: 1624px;
   margin-top: -1624px;
   border: 1px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -1444px;
   height: 1444px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -586px;
   height: 586px;
      margin-left: -105px;

}}

.develo-eco___decor9 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -25px;
 margin-top: -1624px;
width: 25px;
   border: 1px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -1444px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -586px;
   width: 170px;
   margin-left: 0px;
   margin-left: -105px;
}}

// < !-- ocean -->

.develo-eco___decor10 {
   transition: border $animation;
   margin-left: -20px;
      border-radius: 5px;
         border: 1px solid $line-color;
      box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   width: 510px;
   margin-left: -10px;

}}

.develo-eco___decor11 {
   transition: border $animation;
   margin-left: -20px;
   margin-top: -2126px;
   height: 2126px;
   width: 1px;
      border-radius: 5px;
      border: 1px solid $line-color;
      box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -1882px;
   height: 1882px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -987px;
   height: 987px;
   margin-left: -10px;
}}

.develo-eco___decor12 {
   transition: border $animation;
   margin-left: -20px;
   border-radius: 5px;
margin-top: -2126px;
   width: 20px;
   border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
   margin-top: -1882px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -987px;
   width: 180px;
   margin-left: -10px;
}}

      // < !-- factory -->
.develo-eco___decor27 {
   transition: border $animation;
   margin-left: -15.5px;
   border-radius: 5px;
   border: 1px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
 
   
   @media screen and (min-width: 1200px) {
      width: 510px;
      margin-left: -10px;

   }
}

.develo-eco___decor14 {
   transition: border $animation;
   border-radius: 5px;
margin-left: -15.5px;
margin-top: -2628px;
   height: 2628px;
   width: 1px;
   border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -2320px;
     height: 2320px;
  }
  
  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
  
   @media screen and (min-width: 1200px) {
   margin-top: -458px;
   height: 458px;
   margin-left: -10px;
}}

.develo-eco___decor15 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -15.5px;
   margin-top: -2628px;
      width: 15.5px;
   border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -2320px;
  }
 
  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
  
   @media screen and (min-width: 1200px) {
   margin-top: -458px;
   width: 90px;
   margin-left: -10px;
}}

.develo-eco___decor16 {
   
   transition: border $animation;
   border-radius: 5px;
      @media screen and (min-width: 768px) {border-radius: 5px;

   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
      margin-left: 80px;
   margin-top: -933px;
   height: 933px;
}
}

.develo-eco___decor17 {
   
   transition: border $animation;
   border-radius: 5px;
      @media screen and (min-width: 768px) {border-radius: 5px;
width: 5px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
      margin-left: 80px;
   margin-top: -933px;
   width: 180px;
}
}


      //  < !-- earth -->
.develo-eco___decor28 {
   transition: border $animation;
   margin-left: -10.5px;
   border-radius: 5px;
   border: 1px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
    @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
  }

   @media screen and (min-width: 1200px) {
      width: 510px;
      margin-left: -10px;

   }
}

.develo-eco___decor18 {
   margin-left: -10.5px;
   transition: border $animation;
   border-radius: 5px;
margin-top: -3130px;
   height: 3130px;
   width: 1px;
   border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
   margin-top: -2758px;
   height: 2758px;
}
 @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
  }
   @media screen and (min-width: 1200px) {
   margin-top: -893px;
   height: 893px;
   margin-left: -10px;
}}

.develo-eco___decor19 {
   transition: border $animation;
   margin-left: -10.5px;
   border-radius: 5px;
   margin-top: -3130px;
width: 10.5px;
   border: 1px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -2758px;
  }
  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
  }
      @media screen and (min-width: 1200px) {
   margin-top: -893px;
   width: 180px;
margin-left: -10px;
}}

.develo-eco___decor20 {
   transition: border $animation;
   border-radius: 5px;
      @media screen and (min-width: 768px) {

   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
      margin-left: 170px;
   margin-top: -899px;
   height: 899px;
}
}

.develo-eco___decor21 {
   transition: border $animation;
   border-radius: 5px;
      @media screen and (min-width: 768px) {
width: 5px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
      margin-left: 170px;
   margin-top: -899px;
   width: 190px;
}
}



//   < !-- man 

.develo-eco___decor26 {
   transition: border $animation;
  margin-top: -5px;   
margin-left: -5.5px;
      border: 1px solid $line-color;
         box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
         box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      
         .develo-eco__content:hover &,
         .develo-eco__content:focus & {
            border: 1px solid $primary-text-color;
         }

  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
  }                                                                                                                                                                                       
   @media screen and (min-width: 1200px) {
    
      margin-left: -10px;
      width: 510px;

   }}


.develo-eco___decor22 {
   transition: border $animation;
   margin-left: -5.5px;
   border-radius: 5px;
margin-top: -3632px;
   height: 3632px;
   width: 1px;
   border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
 }
   @media screen and (min-width: 360px) {
   margin-top: -3196px;
   height: 3196px;
}

  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
   }

      @media screen and (min-width: 1200px) {
   margin-top: -1328px;
   height: 1328px;
margin-left: -10px;
}}

.develo-eco___decor23 {
   transition: border $animation;
   margin-left: -5.5px;
   border-radius: 5px;
   margin-top: -3632px;
      width: 5.5px;
      border: 1px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
 }
   @media screen and (min-width: 360px) {
   margin-top: -3196px;
}

     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
   @media screen and (min-width: 1200px) {
   margin-top: -1328px;
   width: 270px;
margin-left: -10px;
}}



.develo-eco___decor24 {
   transition: border $animation;
         @media screen and (min-width: 768px) {
            border-radius: 5px;
  
   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
 margin-left: 260px;
   margin-top: -865px;
   height: 865px;

}
}

.develo-eco___decor25 {
   transition: border $animation;
   
   border-radius: 5px;
         @media screen and (min-width: 768px) {
width: 5px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
 @media screen and (min-width: 1200px) {
  margin-left: 260px;
   margin-top: -865px;
   width: 190px;
}
}