.develo-eco__line {
   margin-left: -1px;
   margin-top: 195px;
   z-index: 1;

   @media screen and (min-width: 360px) {
      margin-top: 130px;
   }

   @media screen and (min-width: 1200px) {
      margin-top: 100px;

   }
}

//   < !-- home -->

.develo-eco___decor1 {
   margin-left: -35px;
   // width: 215px;
   border-radius: 5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   transition: border $animation;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }

   }

   @media screen and (min-width: 1200px) {
      margin-left: 0px;
      width: 438px;


   }
}

.develo-eco___decor2 {
   margin-left: -35px;
   margin-top: -640px;
   height: 640px;
   width: 1px;

   border-radius: 5px;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   transition: border $animation;
   border: 1px solid $line-color;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -585px;
      height: 585px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      // margin-top: -402px;
      height: 422px;
      // margin-left: 435px;
      margin: -422px 0 0 435px;
   }
}

.develo-eco___decor3 {
   margin-left: -35px;
   margin-top: -640px;
   width: 35px;
   // @media screen and (min-width: 360px) {
   border-radius: 5px;
   border: 1px solid $line-color;
   transition: border $animation;

   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -585px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {

      // margin-top: -402px;
      width: 205px;
      // margin-left: 435px;
      margin: -422px 0 0 435px;
   }

}


// < !-- man-laptop -->

.develo-eco___decor4 {
   transition: border $animation;
   margin-left: -30px;
   border-radius: 5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 0px;
      width: 448px;

   }
}

.develo-eco___decor5 {
   transition: border $animation;
   margin-left: -30px;
   border-radius: 5px;
   margin-top: -1143px;
   height: 1143px;
   width: 1px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -1023px;
      height: 1023px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -831px;
      margin-left: 445px;
      height: 831px;

   }
}

.develo-eco___decor6 {
   transition: border $animation;
   margin-left: -30px;
   border-radius: 5px;
   margin-top: -1143px;
   width: 30px;
   border: 1px solid $line-color;

   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -1023px;

   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -831px;
      width: 195px;

      margin-left: 445px;

   }
}

// < !-- oil -->

.develo-eco___decor7 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -25px;
   // margin-top: -10px;
   // width: 220px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: -105px;
      width: 595px;
   }
}

.develo-eco___decor8 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -25px;
   width: 1px;
   height: 1841px;
   margin-top: -1841px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -1656px;
      height: 1656px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -636px;
      height: 636px;
      margin-left: -105px;

   }
}

.develo-eco___decor9 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -25px;
   margin-top: -1841px;
   width: 25px;
   border: 1px solid $line-color;

   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -1656px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -636px;
      width: 170px;
      margin-left: 0px;
      margin-left: -105px;
   }
}

// < !-- ocean -->

.develo-eco___decor10 {
   transition: border $animation;
   margin-left: -20px;
   border-radius: 5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      width: 510px;
      margin-left: -10px;

   }
}

.develo-eco___decor11 {
   transition: border $animation;
   margin-left: -20px;
   margin-top: -2344px;
   height: 2344px;
   width: 1px;
   border-radius: 5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2094px;
      height: 2094px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -1037px;
      height: 1037px;
      margin-left: -10px;
   }
}

.develo-eco___decor12 {
   transition: border $animation;
   margin-left: -20px;
   border-radius: 5px;
   margin-top: -2344px;
   width: 20px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2094px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -1037px;
      width: 180px;
      margin-left: -10px;
   }
}

// < !-- factory -->
.develo-eco___decor27 {
   transition: border $animation;
   margin-left: -15.5px;
   border-radius: 5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }


   @media screen and (min-width: 1200px) {
      width: 510px;
      margin-left: -10px;

   }
}

.develo-eco___decor14 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -15.5px;
   margin-top: -2847px;
   height: 2847px;
   width: 1px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2532px;
      height: 2532px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -455px;
      height: 455px;
      margin-left: -10px;
   }
}

.develo-eco___decor15 {
   transition: border $animation;
   border-radius: 5px;
   margin-left: -15.5px;
   margin-top: -2847px;
   width: 15.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2532px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -455px;
      width: 93px;
      margin-left: -10px;
   }
}

.develo-eco___decor16 {

   transition: border $animation;
   border-radius: 5px;

   @media screen and (min-width: 768px) {
      border-radius: 5px;

      width: 2px;
      border: 2px solid $line-color;

      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 80px;
      margin-top: -986px;
      height: 986px;
   }
}

.develo-eco___decor17 {

   transition: border $animation;
   border-radius: 5px;

   @media screen and (min-width: 768px) {
      border-radius: 5px;
      width: 5px;
      border: 2px solid $line-color;
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 80px;
      margin-top: -986px;
      width: 180px;
   }
}


//  < !-- earth -->
.develo-eco___decor28 {
   transition: border $animation;
   margin-left: -10.5px;
   border-radius: 5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      width: 510px;
      margin-left: -10px;

   }
}

.develo-eco___decor18 {
   margin-left: -10.5px;
   transition: border $animation;
   border-radius: 5px;
   margin-top: -3350px;
   height: 3350px;
   width: 1px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2970px;
      height: 2970px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -890px;
      height: 890px;
      margin-left: -10px;
   }
}

.develo-eco___decor19 {
   transition: border $animation;
   margin-left: -10.5px;
   border-radius: 5px;
   margin-top: -3350px;
   width: 10.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2970px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -890px;
      width: 183px;
      margin-left: -10px;
   }
}

.develo-eco___decor20 {
   transition: border $animation;
   border-radius: 5px;

   @media screen and (min-width: 768px) {

      width: 2px;
      border: 2px solid $line-color;
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 170px;
      margin-top: -952px;
      height: 952px;
   }
}

.develo-eco___decor21 {
   transition: border $animation;
   border-radius: 5px;

   @media screen and (min-width: 768px) {
      width: 5px;
      border: 2px solid $line-color;
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 170px;
      margin-top: -952px;
      width: 190px;
   }
}



//   < !-- man 

.develo-eco___decor26 {
   transition: border $animation;
   //   margin-top: -5px;   
   margin-left: -5.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {

      margin-left: -10px;
      width: 510px;

   }
}


.develo-eco___decor22 {
   transition: border $animation;
   margin-left: -5.5px;
   border-radius: 5px;
   margin-top: -3853px;
   height: 3853px;
   width: 1px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -3408px;
      height: 3408px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -1325px;
      height: 1325px;
      margin-left: -10px;
   }
}

.develo-eco___decor23 {
   transition: border $animation;
   margin-left: -5.5px;
   border-radius: 5px;
   margin-top: -3853px;
   width: 5.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -3408px;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -1325px;
      width: 273px;
      margin-left: -10px;
   }
}



.develo-eco___decor24 {
   transition: border $animation;

   @media screen and (min-width: 768px) {
      border-radius: 5px;

      width: 2px;
      border: 2px solid $line-color;
      box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 260px;
      margin-top: -918px;
      height: 918px;

   }
}

.develo-eco___decor25 {
   transition: border $animation;

   border-radius: 5px;

   @media screen and (min-width: 768px) {
      width: 5px;
      border: 2px solid $line-color;
      box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 260px;
      margin-top: -918px;
      width: 190px;
   }
}