    // < !--dev-eco-->

    .section-bg {
      background: $section-color;

      @media screen and (min-width: 1200px) {
        display: flex;
        padding: 0px 40px 330px 40px;
        // justify-content:center;
        background-color: $section-color__desktop;
      }
    }

    .develo-eco {
      display: block;
      border-radius: 5px;
      // background: $section-color;
      padding: 60px 4px 180px 4px;
      // padding-left: 4px;
      // padding-right: 4px;
      // padding-top: 260px;
      // padding-bottom: 400px;

      @media screen and (min-width: 1200px) {
        display: flexbox;


        padding: 0px 0px 0px 0px;
        //  border: 1px solid $svg-color;
        border-top: 0px;
      }
    }


    .develo-eco__box {
      display: flex;
      align-items: center;
      margin: 0 20px 200px 55px;

      text-align: center;
      height: 45px;
      border-radius: 15px;

      transition-duration: 0.5s;
      border-bottom: 1px solid $Secondary-text-color;

      .develo-eco:hover &,
      .develo-eco:focus & {
        box-shadow: 0px 1px 4px 0px $Secondary-text-color;
        background-color: rgba(63, 104, 240, 0.14);
      }


      @media screen and (min-width: 1200px) {
        transform: translateY(-190px);
        height: 45px;
        margin: 0 0 100px 0px;
        width: 420px;

      }

    }

    .develo-eco__title {
      margin-left: auto;
      margin-right: auto;
      color: $Secondary-text-color;
      // transition-duration: 1s;
      transition: $animation-card;
      transition-property: font-size;
      font-weight: 300;
      font-size: 11px;
      line-height: 1.86;
      letter-spacing: 0.26em;
      padding: 5px;

      .develo-eco:hover &,
      .develo-eco:focus & {
        font-size: 12px;
        color: $svg-color;
      }

      @media screen and (min-width: 1200px) {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.26em;

        .develo-eco:hover &,
        .develo-eco:focus & {
          font-size: 17px;
        }
      }
    }

    .develo-eco__list {
      display: block;
      margin-bottom: 0px;

      @media screen and (min-width: 1200px) {
        padding-top: 40px;
        margin-bottom: 0px;
      }
    }

    .develo-eco__content {
      margin-left: 35px;
      margin-bottom: 250px;
      position: relative;
      height: 250px;

      // border-radius: 5px;
      //   background-color: transparent;
      //   box-shadow: 2px 2px 0px 0px #c2e6b026;
      //   box-shadow: 0px 0px 2px 2px #c2e6b026;
      //   border: 1px solid #0ebbe272;
      @media screen and (min-width: 360px) {
        height: 185px;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 250px;
        margin-left: 0;
        width: 430px;
        height: 155px;


      }
    }

    .laptop-content {
      margin-bottom: 0;

      @media screen and (min-width: 1200px) {
        margin-left: 0;

      }
    }




    .impact-section {
      display: block;

      border-radius: 5px;
      // background: $section-color;
      padding: 0px 4px 400px 4px;
      // padding-left: ;
      // padding-right: ;
      // padding-top: ;
      // padding-bottom: ;

      @media screen and (min-width: 1200px) {
        display: flexbox;
        // margin-top: -465px;
        padding: 80px 0px 0px 0px;
        //  border: 1px solid $svg-color;
        // background-color: $section-color__desktop;
      }
    }


    .impact-title__box {
      display: flex;

      border-radius: 15px;

      text-align: center;
      align-items: center;
      margin: 0 20px 220px 55px;
      height: 45px;
      // transform: translateY(-180px);
      transition-duration: 0.5s;
      border-bottom: 1px solid $Secondary-text-color;

      .impact-section:hover &,
      .impact-section:focus & {
        box-shadow: 0px 1px 4px 0px $Secondary-text-color;
        background-color: rgba(63, 104, 240, 0.14);
      }

      @media screen and (min-width: 1200px) {
        // transform: translateY(120px);
        height: 45px;

        margin-left: 210px;
        margin-bottom: 250px;
        width: 390px;


      }
    }

    .impact-title {
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
      color: $Secondary-text-color;
      font-weight: 300;
      font-size: 11px;
      line-height: 1.86;
      letter-spacing: 0.26em;

      transition: $animation-card;
      transition-property: font-size;

      .impact-section:hover &,
      .impact-section:focus & {
        font-size: 12px;
        color: $svg-color;
      }

      @media screen and (min-width: 1200px) {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.26em;

        .impact-section:hover &,
        .impact-section:focus & {
          font-size: 17px;
        }
      }
    }


    .impact__list {
      display: block;
      margin-bottom: 300px;

      @media screen and (min-width: 1200px) {
        // padding-top: 150px;
        margin-bottom: 0px;
      }
    }




    .oil-content {
      @media screen and (min-width: 1200px) {

        width: 490px;
        // margin-top: -400px;
        margin-left: 170px;

      }
    }

    .ocean-content {
      @media screen and (min-width: 1200px) {
        width: 500px;
        margin-top: 150px;
        margin-left: 65px;
      }
    }

    .factory-content {
      @media screen and (min-width: 1200px) {
        margin-left: -35.5px;
        width: 500px;
      }
    }

    .earth-content {
      @media screen and (min-width: 1200px) {
        margin-left: -135px;
        width: 500px;
      }
    }

    .man-content {
      margin-bottom: 0px;

      @media screen and (min-width: 1200px) {
        margin-left: -235px;
        width: 500px;
        margin-bottom: 0px;
      }
    }