/* =================== FOOTER =================== */
.page-footer {

      display: block;
      padding-top:150px;
   padding-bottom: 80px;
   width: 100%;
   background-color: $video-color;
@media screen and (min-width: 360px) {
   padding-top: 320px;
   padding-bottom: 150px;
}
@media screen and (min-width: 1200px) {
   display: flex;
   justify-content: center;
   align-items:flex-start;
   padding-top: 70px;
   padding-bottom: 30px;
   max-width: 1600px;
   background-color: #ffffff00;
  }

}



.page-footer__address {
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
   @media screen and (min-width: 1200px) {
      display: inline-flex;
      margin-bottom: 0px;
   }
}

.page-footer__list{
padding-left: 10px;
@media screen and (min-width: 1200px) {
   padding-left: 30px;
   width: 250px;
 
}}


.page-footer__item{
   padding: 0;
  
}

.page-footer__contacts {
 font-style: normal;
   font-size: 12px;
 text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
   transition: color $animation;

   &:hover,
   &:focus {
      color: $Accent;
   }
   @media screen and (min-width: 1200px) {
  
   font-size: 16px;
   line-height: 1.71;
  
}}

.page-footer__contacts--city {
   
   color: $White-color;
}

.footer-logo{
   margin: 0px;
  
}


/*================= join ================= */
.join {
   display: flexbox;

   margin-bottom: 50px;
   @media screen and (min-width: 1200px) {
      display: block;
      margin-left: 40px;
   }

}

.join__title {
   text-align: center;
   
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
   color: $White-color;
   
   @media screen and (min-width: 768px) {
      // text-align: left;
      display: flexbox;
      // margin-left: 10px;
   
   }
}

.join__list {
display: flex;
justify-content: center;
}

.join__item {
   padding: 0;

   &:not(:last-child) {
      margin-right: 10px;
   }
}

.join__link {
   text-align: center;
   padding: 12px;
   width: 44px;
   height: 44px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   transition: background-color $animation;

   &:hover,
   &:focus {
      background: $Accent;
   }
}

.join__icon {
   width: 20px;
   height: 20px;
   fill: $White-color;
}




/*============ AUTH ============= */
.auth {
   text-align: center;

   @media screen and (min-width: 1200px) {
      display: flex;
      // justify-content: center;   
      align-items: center;
      margin-left: 50px;
       margin-top: 0px;
   }
}

.auth__wrapper {

display: inline-flex;
flex-direction: column;
   @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      // justify-content: center;
      align-items: center;
   }

}

.auth__title {
   margin-bottom: 20px;
   font-size: 14px;
   font-weight: 700;
   line-height: 1.14;
   text-transform: uppercase;
   color: $White-color;

   @media screen and (min-width: 1200px) {
      text-align: left;
   }


}

.auth__input {
margin: 0px;
width: 230px;
   @media screen and (min-width: 1200px) {
      width: 300px;
      margin-right: 12px;
   }

   height: 50px;
   padding-left: 16px;
   border-radius: 4px;
   color: $White-color;
   background-color: transparent;
   // box-shadow: 0px 4px 4px 0px #e8e5e526;
   border: 1px solid #ffffff4d
}

.auth__input::placeholder {
   font-size: 16px;
   line-height: 20px;
   color: rgba(255, 255, 255, 0.6);

}

.button--submit {
   @media screen and (max-width: 1199px) {
      margin-top: 20px;
   }

   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;

   height: 50px;
   background-color: $Accent;
   box-shadow: 0px 4px 4px 0px #00000026;
   min-width: 230px;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: $White-color;
   transition: transform $animation;
      // animation-name: background-color;
}

.button__icon {
   margin-left: 10px;
}