//  < !-- video-bg -->

.video-bg{ 
display:block;
position: relative;
padding: 0;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
// padding-top: 20px;   
   // overflow:hidden;
   justify-content: center;
   align-items: center;



@media screen and (min-width: 1200px) {
object-fit:contain;
max-width: 1600px;
 overflow: hidden;
padding: 0;
}}

.bubble{
   z-index: -1;
   min-width: 270px;
   margin-top: 30px;
position: fixed;
   width: 100%;

   
   @media screen and (min-width: 1200px) {
   position:absolute;
margin-top: 0px;

}}

.bg-color__video {
   background-color: $video-color;


}

