$primary-text-color: rgb(0,255,255);
$Secondary-text-color: #3FA9F5;
$Accent: #FF8230;
$White-color: #FFFFFF;
$svg-color: #33FF99;
$line-color: #0000FF;
$animation-logo: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
$animation: 2ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-card: 600ms cubic-bezier(0.4, 0, 0.2, 1);
$bg-color: #202045;
$video-color: rgba(0, 56, 178, 0.795);
$section-color: #181838d7;
// $section-color: #282849d7;
/* ==========Utils========= */

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

.visually-hidden {
	overflow: hidden;
	width: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
// 6f727b  #adb2c1
body {
	
	background-color: $bg-color;
	color: $primary-text-color;
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	margin: 0;
}